.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 4rem;
  background: blue;
  
  &.active {
    outline: solid 0.3rem blue;
    outline-offset: -0.3rem;
  }

  &.can-move {
    &::after {
      content: '';
      background: blue;
      width: 25%;
      height: 25%;
    }
  }

  &--black {
    background: #000;
  }

  &--white {
    background: #FFF;
  }
}